html, body {
  height: 100%;
}

.diagram-wrapper {
  position: relative;
  width: 1400px;
  height: 90%;
  margin: 0 auto;
}

.draggable {
  display: inline-block;
  vertical-align: top;
  border: 4px solid #BBB;
  border-radius: 4px;
  background-color: #F5F5F5;

  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 500;
}

.handle {
  background-color: lightblue;
  cursor: move;
  text-align: center;
  font: bold 12px sans-serif;
}

#settingSide {
  display: none;
  position: absolute;
  top: 20px;
  left: auto;
  right: 0;
  padding: 5px;
  font: 12px helvetica, sans-serif;
}

#settingSideContainer {
  width: 100%;
  overflow: hidden;
}

#draggableSideContainer {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
  top: 14px;
}

#draggableSide canvas {
  outline: none;
}

#paletteContainer {
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
}

#diagramSide {
  margin: 0 auto;
  width: 800px;
  height: 100%;

  background-color: whitesmoke;
  border: solid 1px black;
}

